/*
    Codes couleurs
    Gris        : #5e5e5e
    Gris foncé  : #333333
    Brun        : #623729
    Vert        : #6fc972
    Rouge       : #ed6d6f
*/


/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
}

.grayscale {
    -webkit-filter: grayscale(100%) opacity(0.3);
    -moz-filter: grayscale(100%) opacity(0.3);
    -ms-filter: grayscale(100%) opacity(0.3);
    -o-filter: grayscale(100%) opacity(0.3);
    filter: grayscale(100%) opacity(0.3);
}

.gris           { color: #5e5e5e; }
.grisFonce      { color: #333333; }
.brun           { color: #623729; }
.vert           { color: #6fc972; }
.rouge          { color: #ed6d6f; }

.alRight        { text-align: right; }
.alMiddl        { text-align: center; }

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', sans-serif;
    color: #5e5e5e;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 2em;
}

h6 {
    font-size: 1.5em;
}

/*
        HEADER
*/

header {
    background-image: url(../images/ban2.png);
    height: 300px;
    width: 100%;
    background-position: center;
}

#menu {
    background-color: #333333;
    color: #FFFFFF;
    text-align: center;
}

#menu a {
    color: #FFFFFF;
}

#loginLink {
    color: #6fc972 !important;
    font-weight: 500;
}

#menu .admin a {
    color: #ff8f2b;
    font-weight: 500;
}

#menu ul {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#menu ul li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

/*
    CONTENU
*/
.imgContenu {
    max-height: 15em;
    margin: auto;
    margin-top: 8em;
}



/*
    FOOTER
*/
footer {
    text-align: center;
    background-color: #333333;
    color: #AFAFAF;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 2em;
}

footer .row {
    margin-left: inherit;
    margin-right: inherit;
}

footer .second, .third {
    text-align: left;
    padding-left: 3em;
    padding-right: 3em;
}

footer ul {
    list-style-type: square;
}

/*
    FICHE CUPCAKE
*/

.rowCupFiche {
    text-align: left;
}

.cupFiche {
    width: 17em;
    vertical-align: top;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 0 1em #dddddd;
    padding: 1em;
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 3em;
}

.cupFiche h1 {
    font-size: 2em;
}

.cupFiche img {
    max-height: 10em;
    border: 1px solid #dddddd;
    margin: auto;
}

.price, .priceText {
    text-align: center;
    font-size: 2.5em;
}

.price {
    font-weight: 700;
    color: #6fc972;
}

/*
    PANIER
*/
table img {
    border: 1px solid #dddddd;
    max-height: 5em;
    margin: auto;
}

table tr:nth-of-type(odd) img {
    border: 1px solid #aaaaaa;
}

td {
    vertical-align: middle !important;
}

table, th {
    text-align: center;
}

table a, table a:hover {
    color: #623729;
}

/*
       MAGASIN
*/
.decompteCupcake {
    float: left;
    padding-top: 7px;
    font-weight: 300;
}

.number {
    font-weight: 700;
}