/* Adaptation du site pour les versions mobiles */

header {
    background-image: url('../images/ban_mob.png');
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5em
}

#menu ul li {
    display: inherit;
}

.modal h1 {
    font-size: 3.5em;
}

#modal_cupcake h1 {
    font-size: 3.5em;
}

#modal_ajoutPanier_title {
    font-size: 3em;
}


.decompteCupcake {
    float: none;
}

.modal-footer {
    text-align: center;
}

.modal-footer .pull-right, .modal-footer .pull-left {
    margin-top: 1em;
    float: none !important;
}