/*
    MODAL
*/

/*
    Les trois règles CSS suivantes règlent un bug de bootstrap avec les modals qui décalent le <body> à cause de la scrollbar (bug connu de bootstrap visiblement)
    Une partie javascript est également nécessaire pour corriger ce problème et se trouve dans cupcake.js
    Source : http://stackoverflow.com/a/22267856/2455658
*/
.modal {
    overflow: auto;
}

.modal h2 {
    font-size: 2em;
}

.modal-open {
    overflow: auto;
}

.modal-open[style] {
    padding-right: 0px !important;
}

.modal label {
    font-size: 1.1em;
}

.modal-header {
    text-align: right;
    height: 150px;
    background-image: url(../images/modal_login_header.png);
    background-position: center;
}

.modal-header h1 {
    text-align: center;
    font-size: 6em;
}

.normal {
    color: #FFFFFF;
    text-shadow: 6px -2px 1px #623729;
}

.inverted {
    color: #623729;
    text-shadow: 6px -2px 1px #FFFFFF;
}
    

.modal .close {
    font-size: 1.6em;
    display: block;
    color: white;
    opacity: 0.8;
}

/* Parties cachées */

.login_hidden {
    display: none;
}

.hint {
    color: red;
    display: none;
}

/*
    MODAL CUPCAKE
*/


#imageCupcake {
    display: inline-table;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #dddddd;
    padding: 0;
}

#descCupcake {
    display: inline-table;
    width: 100%;
    height: 100%;
}

#modal_cupcake .price {
    text-align: right;
}

#modal_cupcake h1 {
    font-size: 5em;
}

#modal_ajoutPanier_title {
    font-size: 5em;
}